<div class="container">
    <div class="row">
        <div class="col-sm-8">
          <p>My name is Hisham, I am a Senior Software Engineer and an Application Architect for hybrid (cross platform) mobile apps and Web 2.0 applications. </p>
          <p>Although I am currently focused on IBM MobileFirst application development using JavaScript and its fellow frameworks (AngularJS, Ionic, jQuery Mobile, Apache Cordova, Dojo Mobile, TopCoat), I like to think of myself as a generalist Software Engineer. I have used Java EE technologies for quite a while before that (JSP, Servlets, JDBC, EJBs, JSF). I also used C++ throughout college, my first and second jobs and I still use it for fun. I also have hands on experience with NodeJS and its awesome wave of tools.</p>
          <p>I have been working in IBM for about 8 years. Throughout these years I have developed deep expertise in multiple IBM products, my current focus is on IBM MobileFirst Foundation Platform (formerly IBM Worklight), my expertise also includes WebSphere Application Server development and server administration skills, WebSphere Portal development and server administration skills and IBM DB2 application development and server administration skills.</p>

          <p>I never settle when it comes to technology, I always like to be on the edge, trying the latest and greatest technologies with my own hands. Technology is a passion, not just a job.</p>

          <p>I am an IBM Certified Expert IT Specialist, and an Open Group Certified Master IT Specialist</p>
        </div>
        <div class="col-sm-4">
            <image width="300px" height="200px" src="../images/hisham.jpg"></image><br>
            <a href="https://twitter.com/hhafezz" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @hhafezz</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

        </div>
    </div>
</div>
