<h3>IBM Redbooks</h3>
<h4><a href="https://www.redbooks.ibm.com/Redbooks.nsf/RedbookAbstracts/sg247917.html?Open">IBM ILOG Visualization Integration Scenarios</a></h4>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <img src="../images/ilog.jpg" alt="cover image" style="border: 1px solid #666666"><br>
      <a class="" href="http://itunes.apple.com/us/book/isbn9780738435237"><img src="../images/ibookstore_dl.png" width="146" height="40" alt="iBookstore badge" style="padding: 8px 0px 0 0px"></a><br>
      <a class="" href="https://play.google.com/store/search?q=9780738435237&amp;c=books"><img src="../images/google_play_45.png" width="129" height="45" alt="GooglePlay badge" style="padding: 4px 0px 0 0px"></a>
    </div>
    <div class="col-sm-4">
      <a href="http://www.redbooks.ibm.com/redbooks/pdfs/sg247917.pdf"><b>Download PDF</b><span> (4.9&nbsp;MB)</span></a><br>
      <a href="http://itunes.apple.com/us/book/isbn9780738435237"><b>Download on iBookstore</b><span> (FREE)</span></a><br>
      <a href="http://books.google.com/books?vid=ISBN:9780738435237"><b>Read in Google Books</b><span> (FREE)</span></a>
    </div>
    <div class="col-sm-4">
      <p>Authors</p>
      <ul><li>Hisham Abd El-Hafez</li><li>Christophe Jolif</li><li>Ricardo Machado Picone</li><li>Rob Sidhu</li><li>Da Zhu Tang</li><li>Emmanuel Tissandier</li><li>Byron Braswell</li><li>Martin Keen</li></ul>
    </div>
  </div>
</div>

<br>

<h4><a href="http://www.redbooks.ibm.com/abstracts/sg248201.html?Open">IBM Intelligent Operations Center 1.6 Programming Guide</a></h4>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <img src="../images/ioc.jpg" alt="cover image" style="border: 1px solid #666666"><br>
      <a class="" href="http://itunes.apple.com/us/book/isbn9780738439334"><img src="../images/ibookstore_dl.png" width="146" height="40" alt="iBookstore badge" style="padding: 8px 0px 0 0px"></a><br>
      <a class="" href="https://play.google.com/store/search?q=9780738439334&c=books"><img src="../images/google_play_45.png" width="129" height="45" alt="GooglePlay badge" style="padding: 4px 0px 0 0px"></a>
    </div>
    <div class="col-sm-4">
      <a href="https://www.ibm.com/services/forms/signup.do?source=swg-smartercom_medium&S_PKG=ov20586&S_TACT=103G343W"><b>Download PDF</b><span> (4.9&nbsp;MB)</span></a><br>
      <a href="http://itunes.apple.com/us/book/isbn9780738439334"><b>Download on iBookstore</b><span> (FREE)</span></a><br>
      <a href="http://books.google.com/books?vid=ISBN:9780738439334"><b>Read in Google Books</b><span> (FREE)</span></a>
    </div>
    <div class="col-sm-4">
      <p>Authors</p>
      <ul><li>Hisham Abd El-Hafez</li><li>Sriram Balakrishnan</li><li>Jamie Caffrey</li><li>Eduardo Francellino</li><li>Sunil Mishra</li><li>Teresa Nascimento</li><li>Jayashree Ravichandran</li><li>Craig Scott</li><li>Nikolay Vlasov</li></ul>
    </div>
  </div>
</div>

<br>

<h3>Articles</h3>
<h4><a href="http://www.ibm.com/developerworks/websphere/techjournal/1404_abdelhafez/1404_abdelhafez.html">Liberate mobile devices from their browsers: Integrating IBM Web Content Manager and Worklight to make web content consumable by a mobile app</a></h4>
<div class="row">
  <div class="col-sm-8">
    IBM Web Content Manager enables you to create and manage content that is displayed on the web. There is no direct integration between Web Content Manager and mobile applications.
    Mobile applications built with IBM Worklight use a REST interface to retrieve data from the server side in JSON format. This article describes how you can expose Web Content Manager content using a REST/JSON interface that can be consumed by mobile applications implemented using Worklight. This same technique can also be used for REST/XML interfaces, and also for non-Worklight applications.
    The basic idea is to use the Web Content Manager connect servlet to render a Web Content Manager component, such as a Menu component, and implement that component with JSON syntax so that the result of calling the connect servlet will be JSON format.</p>

</div>
<div class="col-sm-4">
  <p>Authors</p>
  <ul>
    <li>Hala A. Aziz</li>
    <li>Hisham Abdel-Hafez</li>
    <li>Tamer Mahfouz</li>
  </ul>
</div>
</div>

<br>

<h4><a href="https://www.ibm.com/developerworks/community/blogs/mobileblog/entry/ibm_worklight_certification_mini_study_guide?lang=en">
  IBM Worklight certification mini study guide</a></h4>
<div class="row">
  <div class="col-sm-8">
I recently became an IBM Certified Mobile Application Developer by passing the IBM Worklight certification test. I wanted to share my experience on how I got ready for the test and what you can expect from the exam questions.
</div>
<div class="col-sm-4">
  <p>Author: Hisham Abdel-Hafez</p>
</div>
</div>

<br>

<h4><a href="https://www.ibm.com/developerworks/community/blogs/mobileblog/entry/developing_location_aware_apps_in_ibm_worklight_part_1_the_basics?lang=en">
  Developing location-aware apps in IBM Worklight, Part 1: The basics</a></h4>
<div class="row">
  <div class="col-sm-8">
    A common requirement for modern mobile applications is to be able to know a device’s current geographic location and act according to this knowledge. We can summarize the basic needs for a location-aware mobile application in the following list:
    Getting the current geographic location of a mobile device in the form of latitude and longitude values
    Geocoding, which transforms a human-readable address to longitude and latitude values, and reverse geocoding, which completes the reverse transformation

</div>
<div class="col-sm-4">
  <p>Author: Hisham Abdel-Hafez</p>
</div>
</div>

<br>

<h4><a href="https://www.ibm.com/developerworks/community/blogs/mobileblog/entry/developing_location_aware_apps_in_ibm_worklight_part_2_advanced_geolocation_capabilities?lang=en">
  Developing location-aware apps in IBM Worklight, Part 2: Advanced geolocation capabilities</a></h4>
<div class="row">
  <div class="col-sm-8">
    The new set of location services introduced in IBM Worklight 6.0 allows developers to write location-aware applications that capture and transmit a stream of location data, which can benefit both the user who owns the device and enterprises that are looking to grow their businesses

</div>
<div class="col-sm-4">
  <p>Author: Hisham Abdel-Hafez</p>
</div>
</div>

<br>

<h4><a href="https://www.ibm.com/developerworks/community/blogs/mobileblog/entry/developing_location-aware_applications_in_ibm_worklight,_part_3:_working_with_maps?lang=en">
  Developing location-aware applications in IBM Worklight, Part 3: Working with maps</a></h4>
<div class="row">
  <div class="col-sm-8">
    In part 1 and part 2 of this series, we discussed how to get the current location of the mobile device, how to turn this location into a human-readable address and how to use advanced features to track user’s location. Now it is time to take it to the next level, the visual level, showing all of this on a map that users can interact with. There are multiple options for doing this, and this post will discuss two of them: using OpenLayers and using Google Maps.
</div>
<div class="col-sm-4">
<p>Author: Hisham Abdel-Hafez</p>
</div>
</div>

<br>

<h4><a href="https://www.ibm.com/developerworks/community/blogs/mobileblog/entry/my_journey_from_ceikedwin_to_ibm_worklight?lang=en">
  My journey from CEikEdwin to IBM Worklight</a></h4>
<div class="row">
  <div class="col-sm-8">
Well, I know this title is really weird (like the title of a low budget movie) but bear with me; it will become clearer in a minute. This is my personal story with mobile development, from “cave digging” in Symbian OS to getting spoiled with HTML5 in IBM Worklight.
</div>
<div class="col-sm-4">
  <p>Author: Hisham Abdel-Hafez</p>
</div>
</div>

<br>

<h4><a href="http://asmarterplanet.com/mobile-enterprise/blog/2013/10/ibm-lasgidi-hackathon-hacking-middle-africa.html">
IBM Lasgidi Hackathon: Hacking in the middle of Africa</a></h4>
<div class="row">
  <div class="col-sm-8">
    IBM organized a hackathon event this week in Lagos, Nigeria, under the theme of “mobile payment.” I was lucky to be invited to attend, speak and support the event.
</div>
<div class="col-sm-4">
  <p>Author: Hisham Abdel-Hafez</p>
</div>
</div>
